#projects{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.projTitle{
    font-size: 2rem;
    font-weight:600;
    padding: 0.5rem 3rem;
}

.projImgs{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 75vw;
    overflow: hidden;
    margin: 1;
}

.projImg1{
    background-image: url('../../assets/medtrack.png');
    margin: 1rem;
    filter: grayscale(0.5) brightness(0.5);
    width: 60vw;
    height: 60vh;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.projImg1:hover{
    cursor: pointer;
    filter: grayscale(0.65) brightness(0.25);
}
.param{
    color: #ffffff;
    position: relative;
}
.h2m{
    color: white;
}