#projects{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}
.proj{
    display: contents;
}
.projTitle{
    font-size: 2rem;
    font-weight:600;
    padding: 0.5rem 3rem;
}

.projImgs{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80vw;
    overflow: hidden;
}

.projImg1{
    background-image: url('../../assets/medtrack.png');
    width: 38.5vw;
    height: 60vh;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    background-color: rgb(100, 99, 99);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.projImg1:hover{
    cursor: pointer;
    filter: grayscale(0.2) brightness(0.8);
}
.projImg2{
    background-image: url('../../assets/drkittys.png');
    width: 38.5vw;
    height: 60vh;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    background-color: rgb(100, 99, 99);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.projImg2:hover{
    cursor: pointer;
    filter: grayscale(0.2) brightness(0.8);
}
.projImg3{
    background-image: url('../../assets/cubiculum.png');
    width: 38.5vw;
    height: 60vh;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.projImg3:hover{
    cursor: pointer;
    filter: grayscale(0.2) brightness(0.8);
}
.projImg4{
    background-image: url('../../assets/salesmon.png');
    width: 38.5vw;
    height: 60vh;
    background-color: rgb(91, 91, 91);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.projImg4:hover{
    cursor: pointer;
    filter: grayscale(0.2) brightness(0.8);
}
.projImg5{
    background-image: url('../../assets/carshowroom.png');
    width: 38.5vw;
    height: 60vh;
    background-color: rgb(120, 120, 120);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.projImg5:hover{
    cursor: pointer;
    filter: grayscale(0.2) brightness(0.8);
}
.param{
    color: #ffffff;
    position: relative;
    max-width: 60rem;
}
.h2m{
    color: white;
    padding-top: 6rem;
}

@media screen and (max-width: 940px){
    .projImg1{
        height: 45vh;
        width: 80vw;
        margin-top: 0.2rem;
    }
    .projImg2{
        height: 45vh;
        width: 80vw;
        margin-top: 0.2rem;
    }
    .projImg3{
        height: 45vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 0.2rem;
    }
    .projImg4{
        height: 45vh;
        width: 80vw;
        margin-top: 0.2rem;
    }
    .projImg5{
        height: 45vh;
        width: 80vw;
        margin-top: 0.2rem;
    }
    
}
