#education{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
}
.eduContent{
    text-align: left;
    display: inline-block;
    max-width: 65rem;
    margin-bottom: 3rem;
}
.eduTitle{
    font-size: 1.5rem;
    font-weight:600;
    padding: 0.5rem 3rem;
}

.eduMain{
    max-width: 65rem;
    margin: 2rem 3rem;
    text-align: left;
}
