#education{
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
}
.eduContent{
    text-align: left;
    display: contents;
    margin-bottom: 4rem;
    width: 60vw;
}
.eduTitle{
    font-size: 1.5rem;
    font-weight:600;
    padding: 0.5rem 3rem;
}
.eduMain{
    margin-left: 5rem;
    margin-top: 2rem;
}

img{
    height: 4rem;
    width: 4rem;
    align-items: center;
}
.title{
    margin-left: 3rem;
    font-size:x-large;
    font-weight: 300;
}
.deg{
    margin-left: 7rem;
}
@media screen and (max-width: 500px){
    img{
        height: 3rem;
        width: 3rem;
    }
    .title{
        font-size:large;
        margin-left: 1rem;
    }
    .deg{
        margin-left: 4rem;
        font-size: small;
    }
}

