#education{
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
}
.eduContent{
    text-align: left;
    display: contents;
    margin-bottom: 4rem;
    width: 60vw;
}
.eduTitle{
    font-size: 1.5rem;
    font-weight:600;
    padding: 0.5rem 3rem;
}

.eduMain{
    margin: 2rem 3rem;
    margin-bottom: 4rem;
    text-align: left;
}
.date{
    width: 250px;
}

@media screen and (max-width: 500px){
    .eduMain{
        max-width: 100vw;
        text-align: left;
        padding: 0;
    }
    .date{
        width: 150px
    }
}

