#contact{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
    margin-bottom: 0;
}

.conTitle{
    font-size: 2rem;
    font-weight:600;
    padding-top: 2rem;
}

.conDesc{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: large;
}
.contForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .email, .msg{
    font-size: medium;
    width: 80%;
    max-width: 35rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: whitesmoke;
}
.name:hover{
    border: 2px solid #10c7a8;
}
.email:hover{
    border: 2px solid #10c7a8;
}
.msg:hover{
    border: 2px solid #10c7a8;
}
.submitbtn{
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0;
    background-color: #0469AF;
    color: white;
}
.submitbtn:hover{
    border: 2px solid #0469AF;
    opacity: 0.9;
    background-color: #0469AF;
    color: rgb(232, 230, 230);
}