.navbar{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 4rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    z-index: 1;
    background-color: white;

}


.logo{
    object-fit: cover;
    height: 3.4rem;
    width: 3.5rem;
    margin-left: 4rem;
    cursor: pointer;
    position: absolute;
}

.desktopMenuListItem{
    margin: 1.5rem;
    cursor: pointer;
    color: black;
    text-decoration: solid;
    font-size: larger;
    font-weight: 500;
    font-family: Marker Felt, fantasy;
}
.desktopMenuListItem:hover{
    color: #0C9F50;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0C9F50;
}

.active{
    color: #0C9F50;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0C9F50;
}

.mobMenu{
    display: none;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: white;
    border-radius: 1rem;
}

.ListItem{
    color: black;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(232, 232, 232);
    text-decoration: solid;
    font-size: large;
    font-weight: 100;
    font-family: Marker Felt, fantasy;
}
.ListItem:hover{
    color: #0C9F50;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0C9F50;
}
@media  screen and (max-width: 840px) {
    .mobMenu{
        display: flex;
        margin-right: 2rem;
    }
    .logo{
        margin-left: 2rem;
    }
    .desktopMenu{
        display: none;
    }
}

.imgSet{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}
