
#intro {
    height: 85vh;
    width: 100vw;
    margin: 0 auto;
    max-width: 70rem;
    position: relative;
}
.bg{
    position: absolute;
    top: 0rem;
    z-index: -1;
    right: 0;
    object-fit: cover;
    height: 80vh;
    width: 33vw;
    margin-top: 1rem;
    border-radius: 20px;
}
.introContent {
    height: 80vh;
    width: 40vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.introText{
    font-size: 2.5rem;
    font-weight: 600;
}

.hello{
    font-size: 1.75rem;
    font-weight: 200;
    padding-top: 1rem;
}

.introName{
    color: #0C9F50;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 1rem;
    max-width: 30rem;
    margin-bottom: 2rem;
}
.introSocial{
    word-spacing: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width: 940px){
    .bg{
        height: 70vh;
        width: 35vw;
    }
}
@media screen and (max-width: 730px) {
    .bg{
        height: 60vh;
        width: 50vw;
    }
}
@media screen and (max-width: 500px) {
    .bg{
        height: 75vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        margin-top: 0rem;
        border-radius: 0;
        
    }
    .introContent{
        margin-top: 1rem;
        height: 60vh;
        width: 100vw;
    }
    .hello{
        font-size: 1.5rem;
    }
    #intro{
        height: 83vh;
        margin-bottom: 0.1rem;
    }
    .introPara{
        font-weight: 350;
    }
    .hr{
        display: none;
    }
    .introName{
        color: white;
    }
    
}