.footer{
    width: 100vw;
    height: 2rem;
    background: #10c7a8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    margin: 0 auto;
    margin-top: 0;

}